* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html{
    scroll-behavior: smooth;
 }

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

/***************** HEADER ************/

header {
    width: 1920px;
    height: 150px;
    background: #030303;
}

.header__container {
    padding-top: 59px;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
}

.menu__list {
    margin-right: 55px;
    list-style-type: none;
}

.menu__links:hover {
    cursor: pointer;
}

.menu__list:last-child {
    margin-right: 0px;
}

.menu__links {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 200;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}


/***************** MAIN__WELCOME Seciton ************/

main {
    overflow: hidden;
}

.Welcome {
    width: 1920px;
    height: 842px;
    background: black;
}

.welcome__container {
    position: relative;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.welcome__offer {
    position: absolute;
    z-index: 2;
    padding-top: 150px;
    width: 598px;
    height: 388px;
}

.offer__title {
    height: 180px;
    width: 593px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.offer__info {
    width: 445px;
    height: 33px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.welcome__slider__arrows a {
    cursor: pointer;
    text-decoration: none;
}


.welcome__button {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0px;
    width: 360px;
    height: 75px;
    background: #710707;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
} */

.mySlides {
    display: none;
}

.dot {
    cursor: pointer;
    transition: background-color 0.6s ease;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
}

.dot:hover {
    background: #9D8665;
}

.active {
    background: #D2B183;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.welcome__button:hover {
    cursor: pointer;
    background: #9c1010;
}

.welcome__button a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;  
    color: #FFFFFF;
    text-decoration: none;
}

.welcome__picture {
    position: absolute;
    right: 0px;
    height: 810px;
}

.celebrities {
    z-index: 1;
    height: 750px;
}

.welcome__slider {
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 120px;
    right: 0px;
    bottom: 0px;
    background: #030303;
}

.welcome__slide__num, .welcome__carousel__pagination, .welcome__slider__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__slide__num {
    padding-left: 74px;
    width: 76px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome__carousel__pagination {
    display: flex;
    width: 180px;
    height: 16px;
}

.welcome__slider__arrows {
    padding-right: 56px;
    width: 80px;
    height: 8px;
}


/***************** MAIN__VISITING Section ************/

.Visiting {
    height: 1266px;
    width: 1920px;
    overflow: hidden;
    background: #fff;
}

.Visiting h2 {
    padding-top: 75px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.visiting__line {
    margin: 30px 0px 75px 0px; 
    width: 100%;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

.visiting__menu {
    display: flex;
    flex-direction: column;
    height: 923px;
    justify-content: space-between;
}

.row__menu {
    margin: 0px;
    display: flex;
    height: 424px;
    justify-content: space-between;
}

.tour__list:hover .tour__list__line {
    width: 100%;
}


.tour__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tour__list img {
    width: 440px;
    height: 285px;
}

.tour__name {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.google__street {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 424px;
}

.tour__name:hover {
    cursor: pointer;
}

.tour__list a {
    text-decoration: none;
}

.tour__list__line {
    transition: 1.2s;
    width: 300px;
    height: 2px;
    background: #710707;
    border-radius: 0px;
}

.tour__type {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.tour__place {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

/***************** MAIN__EXPLORE Section ************/

.Explore {
    width: 100%;
    height: 865px;
    background: #000;
    color: white;
}

.explore__container {
    padding: 90px 0px 75px 0px;
    display: flex;
    justify-content: space-between;
}

.explore__left {
    display: flex;
    flex-direction: column;
}

.explore__title {
    margin-bottom: 25px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 90px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.explore__line {
    margin-bottom: 75px;
    width: 660px;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

.explore__information .row{
    padding-bottom: 25px;
    width: 660px;
    height: 77px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

/***************** MAIN__VIDEO Section ************/

.Video {
    width: 100%;
    height: 1396px;
    overflow: hidden;
    background: #fff;
}

.video__journey__header {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.video__title {
    width: 606px;
}

.video__title h2 {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.video__information {
    width: 720px;
}

.video__information p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    align-items: center;
    color: #000000;
}

.video__container {
    margin-top: 75px;
    width: 1440px;
    height: 735px;
}

.video__recomendation {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.recomended__videos {
    width: 452px;
    height: 254px;
}

.video__slider {
    margin-top: 40px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12px;
}

.video__slider__container {
    display: flex;
    align-items: center;
    width: 200px;
    height: 12px;
    justify-content: space-between;
}

.slider__left, .slider__right {
    cursor: pointer;
    background: transparent;
    text-decoration: none;
}

.video__circle {
    width: 12px;
    height: 12px;
    background: #999999;
    border-radius: 50%;
}

.video__circle:hover {
    cursor: pointer;
}

/***************** MAIN__GALLERY Section ************/

.Gallery {
    background: #000;
    width: 1920px;
    height: 2200px;
    color: #fff;
    overflow: hidden;
}

.gallery__title h2{
    padding-top: 75px;
    width: 518px;
    height: 90px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.gallery__images {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.first__column, .second__column, .third__column {
    width: 456px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.gallery__pictures {
    margin-bottom: 24px;
}

.first__column {
    margin-top: 125px;   
}

.second__column {
    margin-top: 75px;
}

.third__column {
    margin-top: 125px;    
}

.gallery__background__gradient {
    bottom: 329px;
    position: absolute;
    width: 1440px;
    height: 360px;
    left: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/***************** MAIN__TICKETS Section ************/

.Tickets {
    width: 100%;
    height: 1293px;
    overflow: hidden;
}

.tickets__title h2{
    padding-top: 75px;
    width: 472px;
    height: 90px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.tickets__line {
    margin: 25px 0px 75px 0px;
    width: 1440px;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

.tickets__container {
    margin-bottom: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tickets__form {
    margin-left: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__left {
    width: 286px;
    height: auto;
}

.left__title {
    margin-bottom: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.choose__type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 126px;
}

.types {
    align-items: center;
    width: 286px;
    justify-content: space-between;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.form__right {
    width: 175px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.right__title {
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.Basic, .Senior {
    width: 156px;
    height: 26px;
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

/* Убираем скроллы/стрелы для input="number" это для браузера Chrome */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Убираем скроллы/стрелы для input="number" это для браузера Firefox */
input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
}

/* Убираем скроллы/стрелы для input="number" это для остальных браузеров */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Делаем черный цвет для radio */
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #000;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: black;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    margin-top: 15px;
    margin-bottom: 10px;
    /* border: 2px solid #ddd; */
    display: inline-flex;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    /* width: 3rem;
    height: 3rem; */
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button::before,
.number-input button::after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}

.number-input button.plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    max-width: 5rem;
    padding: 0;
    border: solid transparent;
    border-width: 0 2px;
    height: 50px;
    width: 50px;
    text-align: center;
}


/* .minus, .plus {
    border: 0px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    width: 18px;
    height: 38px;
} */

.counter {
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.price__container {
    display: flex;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000
}

.button__buy {
    margin-top: 60px;
    width: 175px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__buy a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.parallax {
    width: 100%;
    height: 400px;
    background-image: url(../assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.image__parallax {
    width: 1920px;
    height: 400px;
}


/***************** MAIN__CONTACT Section ************/

.Contacts {
    height: 962px;
    width: 100%;
    overflow: hidden;
}

.contact__title {
    margin-top: 75px;
    height: 90px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.contact__line {
    margin: 25px 0px 75px 0px;
    width: 100%;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

.contact__container {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
}

.contact__information {
    height: 218px;
    width: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__information__title {
    margin-bottom: 50px;
    width: 227px;
    margin: 0px;
    height: 66px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.contact__menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.contact__list {
    padding-bottom: 25px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.contact__list:last-child {
    padding-bottom: 0px;
}

.contact__list a {
    color: #000;
    text-decoration: none;
}

/* FOOTER */

footer {
    width: 1920px;
    height: 444px;
    background: #030303;
    border-radius: 0px;
    overflow: hidden;
}

.footer__container {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.footer__options {
    display: flex;
    justify-content: space-between;
}

.footer__brand__name {
    width: 195px;
    height: 50px;
}

.footer__information {
    display: flex;
    margin-top: 12px;
    margin-left: 145px;
    width: 363px;
    height: 128px;
    justify-content: space-between;
}

/* .footer__menu {
    display: flex;
    flex-direction: column;
} */

.footer__list {
    margin-bottom: 25px;
    list-style-type: none;
}

.footer__list:last-child {
    margin-bottom: 0px;
}

.footer__list__links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__list__links:hover {
    cursor: pointer;
}

.footer__links {
    width: 340px;
    height: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.social__links {
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 0px #666666);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__links:hover {
    cursor: pointer;
    background: #b8860b;
}

.footer__line {
    margin: 50px 0px;
    width: 100%;
    height: 3px;
    background: #666666;
}

.github__links {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__year {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.footer__rs__school a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

/* .footer__username img{
    border: 1px solid #000;
    border-radius: 60%;
    background: #fff;
} */

.footer__username a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}


/* BOOKING TICKETS ANOTHER PAGE */
.container {
    padding-top: 30px;
    width: 1440px;
    height: 845px;
    background: #FFFFFF;
}

.close__window {
    margin-bottom: 36px;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.close  {
    border: 0px;
    background: transparent;
}

/* .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
} */

.booking__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking__tickets {
    width: 400px;
    height: 663px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__title {
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9D8665;
}

.form__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #710707;
}

.booking__line {
    width: 400px;
    height: 3px;
    background: #740C11;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 60px;
}

.input__container {
    height: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data__and__time {
    display: flex;
    justify-content: space-between;
}

.data, .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
}

input[type="date"], input[type="time"] {
    width: 100%;
    border: 0px;
    height: 40px;
}

.data, .time, .name, .email, .phone, .ticket__type{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
    width: 190px;
    height: 45px;
    padding-right: 5px;
}

::-webkit-calendar-picker-indicator { 
    margin: 0px;
    width: 17px;
    height: 17px;
    background-image: url('../assets/img/booking-tickets/arrow.svg');
}

::-webkit-datetime-edit-fields-wrapper {
    display: var(--zxc,none);
    background: transparent;
    border: none;
}

input:not(.has__value)::before {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: #030303;
    content: attr(placeholder);
}



::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text {
    font-family: 'Roboto', sans-serif;
    font-family: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.infoPlaceholder::-webkit-input-placeholder {
    font-weight: 400;
}
.infoPlaceholder::-moz-placeholder {
    font-weight: 400;
}
.infoPlaceholder::-ms-input-placeholder {
    font-weight: 400;
}

input[type="date"], input[type="time"] {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
    /* margin-left: 15px; */
    border: 0px;
}

.name, .email, .phone, .ticket__type {
    width: 100%;
}

.ticket__type {
    position: relative;
}

.select {
    z-index: 1;
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
    justify-content: space-between;
    border: 0px;
}

select::-ms-expand {
    display: none;
}

.select__tickets {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 18px 15px;
}

.select__tickets__line {
    margin: 5px 0px 18px 0px; 
    width: 370px;
    height: 2px;
    background: #740C11;
    opacity: 0.9;
}

input:focus, select:focus {
    outline: none;
}

::-webkit-input-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

::-moz-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

:-ms-input-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

:-moz-placeholder { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #030303;
}

#entry__ticket {
    margin-left: 0px;
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
}

.margin__icons {
    padding: 15px;
}

.entry__basic {
    align-items: center;
    display: flex;
    margin-bottom: 22px;
    justify-content: space-between;
}

.entry__basic span, .entry__senior span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.entry__senior {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select__arrow {
    position: absolute;
    right: 14px;
    top: 14px;
}

.pay__ticket {
    width: 105px;
    height: 25px;
    display: flex;
    border: 1px solid #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.minus, .plus, .ticket__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
}

.minus, .plus {    
    border: 0px;
    background: #000;
    color: #fff;
}

.booking__form {
    display: flex;
}

.booking__information {
    margin-left: 40px;
    width: 530px;
    height: 663px;
    padding: 25px 30px 26px 30px;
    background: #FFFFFF;
    border: 1px solid #030303;
    box-sizing: border-box;
}

.booking__first__row {
    display: flex;
    justify-content: space-between;
}

.overview {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
    margin-bottom: 2px;
}

.tour__to__louvre {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
    opacity: 0.9;
}

.ticket__information__date,
.ticket__information__time {
    margin-bottom: 5px;
    display: flex;
}

.ticket__information__exhibition {
    display: flex;
}

.ticket__information__date p,
.ticket__information__time p,
.ticket__information__exhibition p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    margin-left: 15px;
}

.booking__second__row {
    margin-top: 22px;
    width: 470px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking__second__row__ticket__type {
    align-items: center;
    height: 27px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}

.left {
    align-items: center;
    display: flex;
}

.left p {
    margin-left: 10px;
}

.booking__second__row__line {
    width: 100%;
    height: 2px;
    background: #740C11;
    margin-top: 9px;
    margin-bottom: 10px;
}

.booking__second__row__total__price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #030303;
    display: flex;
    justify-content: space-between;
}

.booking__third__row {
    position: relative;
    width: 360px;
    height: 211px;
    background: #BCBCBC;
    margin-top: 10px;
}

.credit__card {
    padding: 15px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.credit__card__front {
    width: 360px;
    height: 211px;
    background: #BCBCBC;
    position: relative;
    z-index: 1;
}

.credit__card__front input {
    font-size: 14px;
    padding-left: 10px;
}

.credit__card__number {
    margin-left: 0px;
}

.front__left__container, .expiration__date__container {
    display: flex;
    flex-direction: column;
    width: 215px;
}

.card__number, .expiration__date__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 54px;
    width: 100%;
    margin-bottom: 10px;
}

.card__number p,
.expiration__date__container p,
.credit__cardholder__name p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    margin-bottom: 5px;
}

#credit__card__number {
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    width: 205px;
    height: 35px;
}

.expiration__date {
    display: flex;
    justify-content: space-between;
}

.credit__card__day, .credit__card__year {
    width: 100px;
    display: flex;
}

#credit__card__expiration__date {
    width: 90px;
    height: 35px;
}

.front__right__container {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
}

.mastercard {
    margin-top: 15px;
}

.credit__cardholder__name {
    margin-left: 20px;
    height: 54px;
    width: 320px;
}

#cardholder__name {
    width: 308px;
    height: 35px;
    background: #FFFFFF;
    border: 0.567px solid #A4A4A3;
}

.credit__card__back {
    position: absolute;
    left: 30.67%;
    top: 14.41%;
    width: 360px;
    height: 211px;
}

.credit__card__cvv,
.align__right {
    display: flex;
    flex-direction: column;
}

.credit__card__cvv {
    align-items: flex-end;
    width: 360px;
    height: 211px;
    background: #939393;
}

.align__right {
    width: 110px;
}

.cvv__line {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 100%;
    height: 45px;
    background: #161615;
}

.input__cvv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 111px;
    justify-content: space-between;
}

.cvv__number {
    width: 57px;
    height: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
}

.cvv__info {
    width: 55px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #161615;
}

#cvv__input {
    padding-left: 10px;
    width: 75px;
    height: 35px;
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
}

.book {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    margin-left: 250px;
}

.book__button {
    cursor: pointer;
    width: 220px;
    height: 45px;
    background: #710707;
    opacity: 0.9;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

@media only screen and (max-width: 1920px) and (min-width: 1320px){
   
    main, header, footer {
        max-width: 100%;
    }

    .wrapper {
        width: 90%;
   }  

   .Welcome, .Visiting, .Explore, .Video, .Gallery, .Tickets, .Contacts {
       max-width: 100%;
   }

   header {
    min-width: 1024px;
    min-height: 130px;
   }

    .welcome__picture img {
        width: 100%;
        height: auto;
    }

    /* img {
        width: 100%;
        height: auto;
    } */

    .tour__list {
        width: 100%;
        flex-direction: unset;
        width: calc(( 100% - 80px ) / 3);
        flex-wrap: wrap;
    }

    .tour__list img {
        width: 100%;
        height: auto;
    }

    .explore__container {
        width: 100%;
    }

    .explore__left {
        width: 45%;
    }

    .explore__line {
        width: 100%;
    }

    .explore__information .row {
        width: 100%;
    }

    .explore__right {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .explore__right img {
        width: 100%;
        height: auto;
    }

    .first__column, .second__column, .third__column {
        width: calc( ( 100% - 45px ) / 3 );
        flex-wrap: wrap;
    }

    .Gallery {
        height: 1540px;
    }

    .parallax {
        width: 100%;
    }

    .image__parallax {
        width: 100%;
        height: auto;
    }

    .contact__coordination {
        width: 68%;
    }

    .video__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    /* video {
        width: 100%;
        height: auto;
    } */

    .main__video {
        width: 100%;
    }

    .video__container video {
        width: 100%;
    }

    .video__information {
        display: none;
    }

    .tickets__line {
        width: 100%;
    }

    .recomended__videos {
        width: calc( ( 100% - 41px ) / 3 );
        flex-wrap: wrap;
    }

    .recomended__videos video {
        width: 100%;
    }

    .tickets__container {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1320px) and (min-width: 1024px){
    main, header, footer {
        max-width: 100%;
    }

    .wrapper {
        width: 96%;
    }  

    .Welcome, .Visiting, .Explore, .Video, .Gallery, .Tickets, .Contacts {
        max-width: 100%;
    }

    .Welcome {
        max-height: 585px;
    }

    .welcome__offer {
        height: 360px;
    }

    .welcome__container {
        padding-top: 0px;   
    }

    .welcome__button {
        width: 300px;
        height: 60px;
    }

    .welcome__button a{
        font-size: 20px;
        line-height: 23px;
    }

    .welcome__offer {
        padding-top: 50px;
    }

    header {
        min-width: 1024px;
        min-height: 130px;
    }

    .welcome__picture {
        display: none;
        height: 585px;
    }

    .offer__title {
        font-size: 50px;
        line-height: 90px;
    }

    .offer__info {
        font-size: 24px;
        line-height: 28px;
    }

    .tour__list {
        width: 100%;
        flex-direction: unset;
        width: calc(( 100% - 80px ) / 3);
        flex-wrap: wrap;
    }

    .tour__list img {
        width: 100%;
        height: auto;
    }

    .Explore {
       height: 100%;
    }
    
    .explore__container {
        width: 100%;
        padding: 60px 0px 60px 0px;
    }

    .explore__left {
        width: 45%;
    }

    .explore__line {
        width: 100%;
    }

    .explore__information .row {
        width: 100%;
    }

    .explore__right {
        padding-top: 57px;
        display: flex;
        align-items: center;
        width: 50%;
    }

    /* .explore__right img {
        width: 100%;
        height: auto;
    } */

    .first__column, .second__column, .third__column {
        width: calc( ( 100% - 45px ) / 3 );
        flex-wrap: wrap;
    }

    .Gallery {
        height: 1540px;
    }

    .gallery__images img {
        width: 100%;
        height: auto;
    }

    .parallax {
        width: 100%;
    }

    .image__parallax {
        width: 100%;
        height: auto;
    }

    .contact__coordination {
        width: 68%;
    }

    .video__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    /* video {
        width: 100%;
        height: auto;
    } */

    .main__video {
        width: 100%;
    }

    .video__container {
        margin-top: 40px;
    }

    .video__container video {
        height: auto;
        width: 100%;
    }

    .video__information {
        display: none;
    }

    .video__journey__header {
        margin-top: 60px;
    }

    .video__title h2 {
        height: auto;
        font-size: 50px;
        line-height: 75px;
        letter-spacing: 5px;
    }

    .recomended__videos {
        width: calc( ( 100% - 41px ) / 3 );
        flex-wrap: wrap;
    }

    .recomended__videos video {
        width: 100%;
    }

    .Video {
        height: auto;
    }

    .video__slider {
        margin-bottom: 60px;
    }

    .visiting__menu {
        justify-content: space-around;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 330px);
        grid-template-rows: repeat(3, 405px);
        height: auto;
    }

    .row__menu, .tour__list {
        display: contents;
    }

    .google__street {
        height: 345px;
    }

    .tour__name {
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;
    }

    .tour__type {
        font-size: 20px;
        line-height: 23px;
    }

    .Visiting h2 {
        padding-top: 60px;
        font-size: 50px;
        line-height: 75px;
    }

    .visiting__line {
        margin: 20px 0px 60px 0px
    }

    .Visiting {
        height: auto;
    }

    .explore__container {
        padding-top: 60px;
        flex-direction: column;
    }

    .explore__left {
        width: 100%;
        display: flex;
    }

    .explore__title {
        font-size: 50px;
        line-height: 75px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

    .explore__line {
        margin-bottom: 60px;
    }

    .explore__information .row {
        height: auto;
        padding: 0px;
    }
    .row {
        font-weight: 300;
        font-size: 20px;
        line-height: 35px;
    }

    .row:last-child {
        display: none;
    }

    .explore__right {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .footer__information {
        margin-left: 45px;
        width: 300px;
    }

    .tickets__title h2 {
        padding-top: 60px;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 75px;
        letter-spacing: 5px;
        color: #9D8665;
    }

    .tickets__line {
        width: 100%;
        margin: 20px 0px 60px 0px;
    }

    .form__left {
        display: none;
    }

    .tickets__picture {
        width: 100%;
    }

    .form__right {
        align-items: unset;
    }

    .contact__coordination img {
        width: 100%;
        height: auto;
    }

    .tickets__picture img {
        width: auto;
        height: auto;
    }

    .contact__title {
        margin-top: 60px;
        font-size: 50px;
        height: auto;
        line-height: 75px;
    }

    .contact__line {
        margin: 20px 0px 60px 0px;
    }

    .Contacts {
        height: auto;
    }

    .contact__container {
        margin-bottom: 62px;
    }

    .contact__information {
        height: 190px;
    }

    .contact__information__title {
        font-size: 24px;
        line-height: 28px;
    }

    .contact__menu {
        margin-top: 30px;
    }

    .contact__coordination img {
        width: 100%;
        height: auto;
    }

    .contact__list {
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 23px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    main, header, footer {
        max-width: 100%;
    }

    .wrapper {
        width: 96%;
    }  

    .Welcome, .Visiting, .Explore, .Video, .Gallery, .Tickets, .Contacts {
        max-width: 100%;
        height: auto;
    }

    .header__right {
        display: none;
    }

    .Welcome {
        height: auto;
        min-height: 861px
    }

    .welcome__container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .welcome__button {
        position: unset;
        display: none;
    }

    .welcome__offer {
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: unset;
        height: 165px;
        padding-top: 0px;
    }

    .offer__title {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 5px;
    }

    .offer__info {
        width: auto;
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
    }

    .welcome__picture {
        display: none;
    }

    .Visiting h2 {
        padding-top: 40px;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 5px;
    }

    .visiting__line {
        margin: 20px 0px 40px 0px;   
    }

    .visiting__menu {
        justify-content: space-around;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(3, 350px);
        height: auto;
        margin-bottom: 40px;
    }

    .row__menu, .tour__list {
        display: contents;
    }

    .tour__list img {
        width: 100%;
        height: auto;
    }

    .google__street {
        height: 301px;
    }

    .tour__list__line {
        width: 55%;
    }

    .tour__name {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 3px;
    }

    .explore__container {
        padding: 40px 0px 40px 0px;
        flex-direction: column;
    }


    .explore__title {
        margin-bottom: 0px;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 5px;
    }

    .explore__line {
        width: 100%;
        margin: 20px 0px 40px 0px;
    }

    .explore__right img {
        width: 100%;
        height: auto;
    }

    .explore__information {
        display: none;
    }

    .video__title h2 {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 5px;
    }

    .video__information {
        display: none;
    }

    .video__journey__header {
        margin-top: 40px;
        height: auto;
    }

    .video__container {
        margin-top: 20px;
    }

    .video__container {
        width: 100%;
        height: auto;
    }

    .video__container video {
        width: 100%;
        height: auto;
    }

    .video__recomendation {
        margin-top: 20px;
    }

    .recomended__videos {
        width: calc( ( 100% - 20px ) / 2 );
        flex-wrap: wrap;
        height: auto;
    }

    .recomended__videos:last-child {
        display: none;
    }

    .recomended__videos video {
        width: 100%;
        height: auto;
    }

    .Video {
        height: auto;
    }

    .video__slider {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .first__column, .second__column {
        width: calc( ( 100% - 24px ) / 2 );
        flex-wrap: wrap;
    }

    .third__column {
        display: none;
    }

    .Gallery {
        height: 1220px;
    }
    .tickets__title h2 {
        height: auto;
        padding-top: 40px;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 5px;
    }

    .tickets__line {
        margin: 20px 0px 40px 0px;
    }

    .form__left {
        display: none;
    }

    .tickets__picture {
        width: 100%;
    }

    .form__right {
        align-items: unset;
    }

    .tickets__container {
        margin-bottom: 40px;
    }

    .tickets__picture img{
        max-width: 444px;
        max-height: 340px;
        width: 100%;
        height: auto;
    }

    .tickets__form {
        width: auto;
    }

    .parallax {
        width: 100%;
        height: 300px;
    }

    .contact__title {
        height: auto;
        margin-top: 40px;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 5px;
    }

    .contact__line {
        margin: 20px 0px 40px 0px;
    }

    .contact__container {
        flex-direction: column;
        margin-bottom: 67px;
    }

    .contact__information__title {
        font-weight: 500;
        height: auto;
        font-size: 20px;
        line-height: 23px;
    }

    .contact__menu {
        margin-top: 40px;
    }

    .contact__list {
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 15px;
    }

    .contact__information {
        height: 179px;
        margin-bottom: 40px;
    }

    .contact__coordination img {
        width: 100%;
        height: auto;
    }

    .footer__container {
        flex-direction: column;
        padding-right: 90px;
        margin-top: 57px;
    }

    .footer__links {
        margin-top: 50px;
        justify-content: flex-end;
        height: auto;
        width: 100%;
    }

    .footer__information {
        width: 340px;
        height: 121px;
        margin-left: 99px;
    }

    .footer__list__links {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 2px;
    }

    .social__links {
        margin-right: 25px;
    }

    .social__links:last-child {
        margin-right: 0px;
    }

}   

